<div class="container">
    <!-- Navbar Section -->
    <div class="upper-navbar">
        <div class="navbar-section">
            <img src="/public/images/image 4.png" alt="India Emblem" class="emblem">
            <div class="text">
                <h2>Government of National Capital Territory</h2>
                <p>राष्ट्रीय राजधानी क्षेत्र दिल्ली सरकार</p>
            </div>
        </div>
        <div class="navbar-section">
            <img src="/public/images/Frame 60.png" alt="Delhi Government Logo" class="delhi-logo">
            <img src="/public/images/image 6.png" alt="Election Logo" class="election-logo">
        </div>
    </div>

    <header class="navbar">
        <div class="brand">
            <div class="brand-name">Sarva</div>
            <div class="brand-tagline">Svastha</div>
        </div>
        <nav class="nav-links">
            <a href="/home" class="nav-link nav-link-home">Home</a>
            <a href="/appointmentnew" class="nav-link nav-link-appointment">OPD Registration</a>
            <a href="#" class="nav-link nav-link-help">Help Support</a>
        </nav>
        <div class="nav-right">
            <div class="login-button">
                <a href="/loginpage" class="nav-link nav-link-home login-text">Login/Register</a>
            </div>
        </div>
    </header>
</div>